* {
  box-sizing: border-box;
}

/* common rules for all pages */
body {
  background-color: #e6e6e6;
  font-family: Arial;
  font-weight: 700;
}

nav {
  background: -webkit-linear-gradient(0deg, #ffdab3, #ffa94d);
  margin: 0;
  padding: 20px;
  height: 6rem;
}

.nav-link {
  text-decoration: 'none';
  color: black;
  margin: 0 1.5rem;
}

.nav-link.about-link {
  margin-right: 5rem;
}

.container-fluid {
  padding: 0;
}

nav a {
  padding: 10px;
  margin: 0;
} 

footer {
  padding: 20px;
  background-color: #ffbf80;
  color: black;
}

nav img {
  height: 3rem;
  width: 3rem;
  border-radius: 15px;
  margin-right: 1rem;
}

.group-name {
  text-decoration: none;
  font-size: 2em;
}

.navbar-nav .active { text-decoration: underline; }

/* .navbar-nav a:hover {
  text-decoration: underline;
} */

span {
  font-weight: bold;
}

.homepage-cards-section {
  margin-bottom: 40px;
}

.homepage-title {
  font-size: 3rem;
}

.homepage-subtitle {
  font-size: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.filter {
  background-color: #ffbf80;
}

input {
  display: block;
  background-color: #ffbf80;
  color: black;
  font-size: 1rem;
  border-radius: 20rem;
  margin: 1rem auto 1rem auto;
  padding: 8px;
  border-color: rgba(192, 192, 192, 0.358);
}

@keyframes bouncing {
  0% {bottom: 0;}
  50% {bottom: 20px;}
  100% {bottom: 0;}
  /* 0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 } */
} 

.arrow {
  animation: bouncing 1s infinite ease-in-out;
}

input:hover {
  box-shadow: 0 20px 20px rgba(254, 254, 253, 0.658);
}

.category-card-img {
  border-radius: 10px;
  filter: brightness(70%);
  opacity: 0.8;
}

.category-card {
  border-style: solid;
  border-width: .5rem;
  border-color: white;
}

.category-button {
  transform: translate(-50%, -50%);
}

.intro {
  margin: 40px 40px 30px 40px;
  text-align: center;
}

.category-card-wrapper {
  margin-bottom: 10rem;
  height: 21rem;
  /* text-align: center; */
  /* position: relative; */
}

.video-card-wrapper {
  margin-bottom: 10rem;
  height: 21rem;
  /* text-align: center; */
  /* position: relative; */
}

.title {
  text-align: center;
  padding: 2rem;
}

.leaflet-container {
  width: 100%;
  height: 350px;
}

.playbutton-image {
  max-width: 3rem
}

.container-filters {
  padding: 3rem;
  font-family: Arial;
  text-align: center;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  /* border-bottom: .8rem solid rgba(254, 254, 253, 0.658); */
  /* box-shadow: 0 10px 50px rgba(254, 254, 253, 0.658); */
}

.card {
  margin: 0;
}

.about-heading {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


